@import '../../settings/settings';

.services {
    h1 {
        font-size: 36px;
        text-align: center;
    }
}


.services-list {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 50px auto 0 auto;
    align-items: baseline;
    img {
        display: block;
        margin: auto;
        padding-bottom: 15px;
    }
    li {
        list-style: none;
        font-family: $secondary-font;
        text-align: center;
    }
}

.eventProduction {
    width: 34px;
}
.DJEmcee {
    width: 41px;
}
.soundSystem {
    width: 69px;
}
.lightingDesign {
    width: 48px;
}
.entertainment {
    width: 61px;
}
.timeManagement {
    width: 36px;
}
.eventDesign {
    width: 60px;
}
