@import '../../settings/mixins';

.awards-images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    max-width: 650px;
    margin: auto;
}

.wedding-wire-award {
    width: 18%;
    max-width: 124px;
}