p {
    margin: 0;
    padding: 0;
}

.App-header {
    background-color: blue;
    color: #fff;
    position: relative;

    p {
        margin-bottom: 500px;
    }
}

.content-container {
  margin: auto;
  max-width: 1280px;
}